[Unit]
Description=Kitchen Helper service
After=graphical.target

[Service]
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
WorkingDirectory=/home/pi/KitchenHelper/client
ExecStart=/usr/bin/python3 -m kitchenhelper_client
CPUSchedulingPolicy=rr

[Install]
WantedBy=graphical.target